    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200&family=Titillium+Web:ital,wght@0,200;0,400;1,200;1,300&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }

    header{
        width: 100%;
        margin-bottom: 20px;
        /* position: sticky;
        top: 0; */
        z-index: 1000;
        font-family: Poppins !important;
    }

    .center{
        display: flex;
        align-items: center;
        width: 80%;
        margin: auto;
        padding:5px 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 10px 10px;
    }

    .logobox{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navigation{
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
    }

    .navigation li{
        padding: 5px;
        text-align: center;
        background-color: #59acff;
        transition:all 0.1s;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation a{
        text-decoration: none;
        color: #ffffff;
        width: 100%;
    }

    .navigation li:hover{
        transform: scale(1.2);
        background-color: #3e91e3;
    }

    .navigation li.conjugate:active, .navigation li.dictionnary:active{
        background-color: #b3aefc;
    }

    .navigation li.contact:active{
        background-color: #222222;
    }

    .defile{
        z-index: 500;
        width: 50px;
        height: 50px;
        border: 3px solid #444;
        background-color: rgb(236, 236, 90);
        position: fixed;
        padding: 20px;
        border-radius: 50%;
        display: none;
        opacity: 0.3;
        transition: all 0.2s;
        text-decoration: none;
        font-weight: bolder;
        color: white;
        font-size: 3rem;
        right: 05%;
    }

    .anim:hover{
        animation-name: anim;
        animation-duration: 1s;
        animation-iteration-count:infinite;
    }

    .defile:hover{
        opacity: 1;
    }

    .show{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        padding: 10px;
        width: 100%;
        margin:auto;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 2px #aaa;
        background-color: #59acff;
    }

    @media screen and (max-width:1370px) {
       
        .navigation{
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }

        .navigation li{
            width: 50%;
            margin: 0.5rem;
        }
    }

    @media screen and (max-width:850px) {
        .center{
            width: 100%;
        }

        .logobox,.navigation{
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }

        .logobox{
            text-align: center;
        }

        .logo{
            width: 150px;
            height: 200px;
        }

        .navigation li{
            width: 80%;
            margin: 0.5rem;
        }
    }

    @keyframes anim{
        0%,100%{transform: translateY(0px);text-shadow: 0 10px 13px rgb(151, 150, 150);}
        25%{transform: translateY(-10px);text-shadow: 0 10px 20px rgb(151, 150, 150);}
        50%{transform: translateY(0px);text-shadow: 0 10px 13px rgb(151, 150, 150);}
        75%{transform: translateY(-10px);text-shadow: 0 10px 20px rgb(151, 150, 150);}
    }